:root{
  --color-primary: #D65A31;
  --color-btn: #e6896a;
  --color-btn-hover: #bb5939;
  --color-background-green: rgb(0, 87, 58);
  --color-background : #252525;
  --color-text-ligth : #EEEEEE;
  --color-text-dark : #252525;
}

@media screen and (min-width: 768px) {
  body{
    display: flex !important;
    flex-direction: row !important;
  }
  main {
    width: 60%;
    margin: auto;
  }
  header,footer {
    width: 20% !important;
    height: 100%;
  }

  nav {
    flex-direction: column;
    justify-content: space-evenly !important;
    padding: 2rem 0 !important;
  }
  
  .navbar-logo {
    display: inline !important;
  }

  .navbar-menu {
    flex-direction: column !important;
    margin: 0 !important;
    align-items: flex-start !important;
    height: 70%;
    justify-content: space-between;
  }
  .navbar-logo-text{
    display: inline !important;
    height: 19px;
    display: flex;
}
footer{
    top: 0;
    right: 0;
    background-color: aqua;
    position: fixed;
}

  

}

