:root{
  --color-primary: #D65A31;
  --color-btn: #e6896a;
  --color-btn-hover: #bb5939;
  --color-background-green: rgb(0, 87, 58);
  --color-background : #252525;
  --color-text-ligth : #EEEEEE;
  --color-text-dark : #252525;
}
